.faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    border-top: 1px solid rgb(122, 122, 122);
}
.faq-section h3 {
    max-width: 300px;
    text-align: center;
}
.faq {
    border: 1px solid rgb(122, 122, 122);
    width: 850px;
    max-width: 90%;
    height: 60px;
    margin: 10px 0;

    display: flex;
    align-items: center;
    position: relative;
}
.faq h6 {
    margin-left: 10px;
    font-style: normal;
    font-size: 18px;
}
.faq span {
    position: absolute;
}
.visible-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.faq h5 {
    margin-right: 10px;
    font-size: 30px;
    color: rgb(122, 122, 122);
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}