header {
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
    background-color: rgb(0, 0, 0, .4);
    justify-content: space-between;
    border-bottom: 1px solid rgb(122, 122, 122);
    position: fixed;
    top: 0;
    z-index: 1000;
}
.nav-hidden {
    position: fixed;
    top: 70px;
    overflow: hidden;
    transition: 1s ease;
}
.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(122, 122, 122);
}
.nav-buttons .link {
    padding: 0 30px;
}
.nav-buttons .link:hover {
    cursor: pointer;
    background-color: rgb(34, 34, 34);
}
.bam:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
.nav-hidden .link {
    background-color: rgb(20, 20, 20);
    height: 70px;
    width: 100vw;
    border-bottom: 1px solid rgb(122, 122, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
}
.nav-hidden .link:hover {
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}
.nav-hidden .bam {
    background-color: #F8B833;
    height: 70px;
    width: 100vw;
    border-bottom: 1px solid rgb(122, 122, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
}
.nav-hidden .bam:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.logo img {
    height: 40px;
    position: relative;
}
.nav-buttons {
    display: flex;
    justify-content: space-around;
}
.img-btn {
    height: 100%;
    display: flex;
    align-items: center;
}
.img-btn img {
    width: 30px;
    height: 30px;
    padding: 0 20px;
}
.shopping-cart {
    background-color: rgb(0, 0, 0, .9);
}
.shopping-cart:hover {
    background-color: rgba(36, 36, 36, 0.9);
    cursor: pointer;
}
.bars {
    display: none;
}
.bars:hover {
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}

@media(max-width: 1100px) {
    .nav-buttons .link {
        display: none;
    }
    .nav-button-hidden .link {
        border: none;
    }
    .nav-button-hidden .bam {
        border: none;
    }
    .bars {
        display: flex;
        border-right: 1px solid rgb(122, 122, 122);
        border-left: 1px solid rgb(122, 122, 122);
    }
}